<div class="p-2 bg-primary-subtle border rounded-3 mx-auto my-3">
  <button type="button" class="btn btn-primary btn-sm float-end delete-post-button" data-id="{{post.id}}">Delete</button>
  <h2>{{post.title}}</h2>
  <p>Posted by: {{post.user.username}}</p>
  <p>On: {{post.createdAt}}</p>
  <button type="button" class="btn btn-primary btn-sm float-end" data-toggle="modal" data-target="#updatePost">Update</button>
  <div class="bg-primary-subtle rounded-top-3 py-1"></div>
    <p>{{post.text}}</p>
  </div>
</div>

<div class="m-5">
  <form class="form comment-form m-5"> 
    <div class="input-field">
      <label for="comment=text">Add your comment:</label>
      <textarea class="form-control" id="comment-text"></textarea>
    </div>
    <br>
    <button class="comment-button" type="submit" data-id="{{post.id}}">Post your comment</button>
  </form>
</div>

{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}

<!-- Modal -->
<div class="modal fade" id="updatePost" tabindex="-1" role="dialog" aria-labelledby="updatePostLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPostLabel">Update Post:</h5>
      </div>
      <div class="modal-body">
        
        <div class="input-field">
          <label for="post-title">Title:</label>
          <input class="form-control" id="post-title" value="{{post.title}}"></textarea>
        </div>
        <div class="input-field">
          <label for="post-text">Text:</label>
          <textarea class="form-control" id="post-text" rows="5" placeholder="{{post.text}}"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary update-post-button" data-id="{{post.id}}" type="click">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/post.js"></script>